.contact__mail {
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
}

.contact__phone,
.smartphone {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
}

.contact__mail:hover,
.contact__mail:focus {
  --color4: var(--color1);
  color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__phone:hover,
.contact__phone:focus {
  --color4: var(--color1);
  color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
  background-color: var(--white);
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-left: 0px;
  margin: 0px;
  padding-bottom: 94px;
  gap: 30px;
  flex-basis: calc((100%-60px) / 3);
}

.project-description:hover,
.project-description:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images-area {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-top: 20px;

  color: var(--black);
}

.portfolio-images-sign {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-bottom: 20px;
  color: var(--grey);
}

.footer-portfolio {
  text-decoration: underline;
}

.customers__box:hover,
.customers__box:focus {
  --color2: #2196f3;
  border-color: var(--main-link-color);
  border-radius: 4px;
  background-color: var(--main-bacground-color);
  fill: var(--main-link-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0px 32px 18px;
}

.socialmedia-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-bacground-color);

  fill: var(--blue);
}

.socialmedia-icon:hover,
.socialmedia-icon:focus {
  --color2: var(--white);
  background-color: var(--main-link-color);
  fill: var(--main-link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio*/

.figure-portfolio {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 0px 0px #eeeeee, 0px 1px 1px #eeeeee, 0px 2px 1px #eeeeee;
  width: 370px;
}

.footer__address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  margin-top: 1.5em;
}

.project-hover {
  display: block;
  text-decoration: none;
}

/*static overlay index site*/

.project-container {
  position: relative;
  width: 100%;
}

.screen-portfolio {
  width: 370px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-container:hover .overlay {
  height: 100%;
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  vertical-align: top;
  position: absolute;
  padding: 25px 45px 20px 24px;
  transform: translateY(0%);
}
