.portfolio-images {
  background-color: var(--white);
}

.portfolio-images-area {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-top: 20px;

  color: var(--black);
}

.portfolio-images-sign {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-bottom: 20px;
  color: var(--grey);
}

.footer-portfolio {
  text-decoration: underline;
}
/* 
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0px 32px 18px;
}

.imageBox__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-bacground-color);

  fill: var(--blue);
}

.imageBox__icon:hover,
.imageBox__icon:focus {
  --color2: var(--white);
  background-color: var(--main-link-color);
  fill: var(--main-link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 */

.figure-portfolio {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 0px 0px #eeeeee, 0px 1px 1px #eeeeee, 0px 2px 1px #eeeeee;
  width: 370px;
}

.footer__address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  margin-top: 1.5em;
}

.screen-portfolio {
  width: 370px;
  height: auto;
}



