:root {
    --main-background-color: #ffffff;
    --section-background-color: #212121;
    --main-link-color: #2196f3;
    --blue: #2196f3;
    --black: #212121;
    --white: #fff;
    --grey: #757575;
    --buttongrey: #f5f4fa;
    --lightgrey: #e5e5e5;
    --lineheadercolour: #ececec;
    --shadow-color: #eeeeee;
    --icons-color: #afb1b8;
    --form-color: #188ce8;
    --color1: #2196f3;
    --color2: #afb1b8;
    --color3: #212121;
    --color4: #afb1b8;
    --color5: #afb1b8;

}

$white:#fff;
$blue:#2196f3;
$black:#212121;
$gray:#757575;
$btngray:#f5f4fa;
$lightgray:#e5e5e5;
$lineheadercolor:#ececec;
$shadowcolor:#eee;
$iconscolor:#afb1b8;
$formcolor:#188ce8;
$color1:#2196f3;
$color2:#afb1b8;
$color3:#212121;
$color4:#afb1b8;
$color5:#afb1b8;